<component name="ArtifactManager">
  <artifact type="war" name="springmvcwebmagic:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springmvc.webmagic-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvcwebmagic:war exploded" />
    </root>
  </artifact>
</component>